swagger: '2.0'
info:
  description: |
    You can leverage this REST API interfaces for testing. For more details about server implementation, request rate limitation, etc, please visit [Hyphenate Server Integration](https://docs.hyphenate.io/docs/server-overview).  

    **Note**

    `org_ID` is the unique ID of the organization created when you first registered [Hyphenate console](https://console.hyphenate.io/).                         
    `app_name` is the unique app ID created when you new application in [Hyphenate console](https://console.hyphenate.io/).           
    `Authorization token` is required for most API requests as part of requesting header in the format `Bearer ${token}`. You can obtain the token via [/{org_name}/{app_name}/token](https://docs.hyphenate.io/docs/server-overview#section-request-authentication-token).                                            
  version: 1.0.3
  title: Hyphenate REST APIs
host: api.hyphenate.io
basePath: /
tags:
  - name: Authentication
    description: ''
  - name: Users
    description: ''
  - name: Messages
    description: ''
  - name: Upload and Download Files
    description: ''
  - name: Chat History
    description: ''
  - name: Groups
    description: ''
  - name: Chat Rooms
    description: ''
schemes: []
consumes: []
produces: []
paths:
  '/{org_name}/{app_name}/chatfiles':
    post:
      tags:
        - Upload and Download Files
      summary: Upload a File
      description: |-
        * **Warning:** File cannot exceed **10 MB**, otherwise will fail.
        * **Important:** Be sure keep the `uuid` and `share-secret`, which are requirement when downloading particular file.
      schemes:
        - https
      consumes:
        - application/json
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: restrict-access
          in: header
          description: '"restrict-access" determines whether later the file require "share-secret" for access or allow public access. '
          required: false
          type: boolean
          default: ''
          format: ''
        - name: file
          in: formData
          description: ''
          required: true
          type: file
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatfiles/{uuid}':
    get:
      tags:
        - Upload and Download Files
      summary: Download a File
      description: |
        **Important:**
        * Include the share-secret from HTTP header 
        * Include uuid from the response of a successful file uploading, which is the file identifier
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: uuid
          in: path
          description: 'uuid, the file identifier, from previous successful uploading reponse'
          required: true
          type: string
          default: 2b49c3b0-945e-11e6-940c-7705363b29dd
          format: ''
        - name: share-secret
          in: header
          description: share-secret from previous successful uploading response
          required: true
          type: string
          default: K0nDupReEeaIDxMU2xxA1MQRdbbpSbahSXyalxCt8LFY1he0
          format: ''
        - name: thumbnail
          in: header
          description: 'The request will return thumbnail if the tag of “thumbnail: true” is explicitly put in the header'
          required: true
          type: boolean
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups':
    get:
      tags:
        - Groups
      summary: Get All the Groups
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Groups
      summary: Create a Group
      description: |-
        Group settings:
        1. Group name
        2. Group description
        3. Public vs. Private Group
        4. Max number of member (including admin)
        5. Allow users to join freely or require permission from admin. 
        6. In default, `allowinvites` is false for public group, and true for private group. This option is configureable in the client-side. 
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - in: body
          name: body
          description: |-
            1. **groupname:** Group name
            2. **desc:** Decription of the group
            3. **public/private:** Pubic or Private group type
            4. **maxusers:** Max number of member (including admin) in the group. (Optional Attribute, default is 200)
            5. **approval:** Does user need permission to join the group? (Optional Attribute, default is true).
            6. **owner:** The owner (admin) of the group.
            7. **members:** Group members. Ignore the attribute if no member to be added. And the group owner does not represent as a group member. (Optional Attribute)
          required: true
          schema:
            $ref: '#/definitions/Group'
      responses:
        '400':
          description: The owner doesn't exist
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_ids}':
    get:
      tags:
        - Groups
      summary: Get Group(s) Details
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_ids
          in: path
          description: 'Separate group ID by '',''. e.g. {group_id1},{group_id2}'
          required: true
          type: string
          default: '254014966611315244,254017708478171692'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: The group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}':
    put:
      tags:
        - Groups
      summary: Update Group Details
      description: |-
        * The message body allows change of `groupname`, `description`, `maxusers`, and `newowner`.
        * **Note:** Use '+' to replace space if modifying groupname and description. E.g., use "test+group" instead of "test group".
        * **Warning:** If group cannot be found or operation failed, then the response will still return HTTP code 200, but key-value are `maxusers`=false, `groupname`=false, and `description`=false. You can also change the group owner by setting `newowner`=`new_owner_username`.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '256991813640915400'
          format: ''
        - in: body
          name: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/ModifyGroup'
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Groups
      summary: Delete a Group
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/blocks/users':
    get:
      tags:
        - Groups
      summary: Get Blocked Members
      description: Get a group's blacklist of blocked members. Blocked members cannot see nor receive group message.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Groups
      summary: Block Group Members in Batch
      description: |-
        * Block multiple group members by adding them to the group blacklist. Max 60** members at a time. 
        * Blocked members will receive an event, "You are kicked out of the group `{groupid}`". 
        * Blocked members will not able to see nor receive group message.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - in: body
          name: body
          description: 'Separate Usernames by '','''
          required: true
          schema:
            $ref: '#/definitions/BodyUsernames'
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/blocks/users/{Usernames}':
    delete:
      tags:
        - Groups
      summary: Unblock Group Members in Batch
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - name: Usernames
          in: path
          description: 'Separate Usernames by '','''
          required: true
          type: string
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/blocks/users/{username}':
    post:
      tags:
        - Groups
      summary: Block a Group Member
      description: |-
        * Block a group member by adding the member to group blacklist. 
        * Blocked member will receive an event, "You are kicked out of the group `{groupid}`".
        * Blocked member will not able to see nor  receive group message. 
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - name: username
          in: path
          description: 'user to be blocked'
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user dosen't exist
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Groups
      summary: Unblock a Group Member
      description: 'Unblock group member by removing the member from the group blacklist. '
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: fruitworld
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - name: username
          in: path
          description: 'user to be unblocked'
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user dosen't exist
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/users':
    get:
      tags:
        - Groups
      summary: Get a List of Group Members
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: The group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Groups
      summary: Add Group Members in Batch
      description: '**Warning:** Add **Max 60 members** once at a time.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '256991813640915400'
          format: ''
        - in: body
          name: body
          description: 'Separate Usernames by '','''
          required: true
          schema:
            $ref: '#/definitions/BodyUsernames'
      responses:
        '400':
          description: User(s) cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: The group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/users/{members}':
    delete:
      tags:
        - Groups
      summary: Remove Group Members in Batch
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - name: members
          in: path
          description: 'Use '','' to separate Usernames'
          required: true
          type: string
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatgroups/{group_id}/users/{username}':
    post:
      tags:
        - Groups
      summary: Add a Member to Group
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '256991813640915400'
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user doesn't exist
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: The group ID cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Groups
      summary: Remove a Member from the Group
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: group_id
          in: path
          description: ''
          required: true
          type: string
          default: '254017708478171692'
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user dosen't exist
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: The group ID does not exist
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatmessages/{time}':
    get:
      tags:
        - Chat History
      summary: Get Message History
      description: |-
        * **This API does NOT support real time message history fetching. Please see Webhooks for real time message pushing to your server from Hyphenate directly.** 
        * This API will respond with a URL to download message history file. The link is valid for 30 mins. Please allow some time to generate the message history file before calling the API. 
        * i.e., you can download message history for 7/19/2017 7:00~8:00am after 7/19/2017 9:00am.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: time
          in: path
          description: '10 digits format (YYYYMMDDHH) in UTC time. Ex. `2017071907` as query to get messages from 7:00 to 8:00 am on 07/19/2017, including 7:00am'
          required: true
          type: integer
          default: 2017071907
      responses:
        '400':
          description: Bad request
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '429': 
          description: Request beyond given request rate limit.
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatrooms':
    get:
      tags:
        - Chat Rooms
      summary: Get All the Chat Rooms
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Chat Rooms
      summary: Create a Chat Room
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - in: body
          name: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/Chatroom'
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatrooms/{chatroom_id}':
    get:
      tags:
        - Chat Rooms
      summary: Get Chat Room Details
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254236356207708624'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: Chat room cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    put:
      tags:
        - Chat Rooms
      summary: Update Chat Room Details
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254236356207708624'
          format: ''
        - in: body
          name: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/ModifyChatroom'
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Chat Rooms
      summary: Delete a Chat Room
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254235208700660172'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatrooms/{chatroom_id}/users':
    post:
      tags:
        - Chat Rooms
      summary: Add Chat Room Members in Batch
      description: Add **max 60** group members at a time.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254235208700660172'
          format: ''
        - in: body
          name: body
          description: 'Separate Usernames by '','''
          required: true
          schema:
            $ref: '#/definitions/BodyUsernames'
      responses:
        '400':
          description: Chat room or user cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatrooms/{chatroom_id}/users/{Usernames}':
    delete:
      tags:
        - Chat Rooms
      summary: Remove Chat Room Members in Batch
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254235208700660172'
          format: ''
        - name: Usernames
          in: path
          description: 'Separate Usernames by '','''
          required: true
          type: string
          default: ''
          format: ''
      responses:
        '400':
          description: The user cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/chatrooms/{chatroom_id}/users/{username}':
    post:
      tags:
        - Chat Rooms
      summary: Add a Chat Room Member
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254235208700660172'
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Chat Rooms
      summary: Remove a Chat Room Member
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: chatroom_id
          in: path
          description: ''
          required: true
          type: string
          default: '254235208700660172'
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '400':
          description: The user cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/messages':
    post:
      tags:
        - Messages
      summary: Send a Message
      description: |-
        * Send a message to user(s) and group(s).               
        * Please refer to the Hyphenate docs for further details about message body: https://docs.hyphenate.io/docs/messages
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - in: body
          name: body
          description: 'Message types: text, image, audio message, video, command, etc. Please refer to the Hyphenate docs for further details about message body: https://docs.hyphenate.io/docs/messages'
          required: true
          schema:
            $ref: '#/definitions/Msg'
      responses:
        '400':
          description: 'Incorrect body structure'
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/token':
    post:
      tags:
        - Authentication
      summary: Request an Authentication Token
      description: 'All of the Hyphenate API endpoints requires authentication token for session, unless specified otherwise.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - in: body
          name: body
          description: client_id and client_secret can be found in the application details page of the Hyphenate console
          required: true
          schema:
            $ref: '#/definitions/Token'
      responses:
        '400':
          description: usually an invalid value for client_id or client_secret
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users':
    get:
      tags:
        - Users
      summary: Get Users in Batch
      description: Get a list of users.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: limit
          in: query
          description: 'The API returns the 10 most recently created users by default. You can specify a batch limit value by passing the parameter limit=N, where N is the batch limit value. '
          required: false
          type: string
          default: '3'
          format: ''
        - name: cursor
          in: query
          description: 'Paging: If the query contains more objects than the N value provided, the returning json will carry an extra attribute cursor, the value of which points to the next page. No cursor value is returned on the last page, or if the total returned objects is fewer than the batch limit number.'
          required: false
          type: string
          default: LTgzNDAxMjM3OTpreS0yeXBSSkVlYWZZODl3bXppMTFn"
          format: ''
      responses:
        '401':
          description: 'Unauthorized [without token, token error, or token expired]'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Users
      summary: Create a User
      description: |-
        * Register a user account respects to org and app keys. 
        * Note: There're 2 types of registration, `open` and `authorized`. `open` registration does not require admin authentication, but `authorized` does. 
        * See the application -> "overview" -> "User Registration Permission" in Hyphenate console. `Authorized` registration is recommended, which prevents malicious attempt to create junk user account from the ones obtained the URL. 
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: false
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - in: body
          name: body
          description: 'To create multiple users at once: [    {        "username": "user1",        "password": "123456"    },    {        "username": "user2",        "password": "123456"    }]'
          required: true
          schema:
            $ref: '#/definitions/RegisterUsers'
      responses:
        '400':
          description: User(s) already exists. The username or password is empty or illegal
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Users
      summary: Delete Users in Batch
      description: 'Delete total number of N user accounts in batch. Recommend set N range 100~500 at a time to ensure the performance. Cannot specified user account in deletion, check the response to see which user accounts are deleted.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: limit
          in: query
          description: Total number of user accounts to be deleted
          required: true
          type: string
          default: '3'
          format: ''
        - name: cursor
          in: query
          description: Cursor value from previous deletion
          required: false
          type: string
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{owner_username}/blocks/users':
    get:
      tags:
        - Users
      summary: Get a User's Blacklist
      description: Get a user's blacklist.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: 'Application name '
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: The user who is requesting blacklist
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User or blacklist cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    post:
      tags:
        - Users
      summary: Block Contacts(s)
      description: Block one or multiple contacts by adding to user's blacklist. Blocked contacts cannot send message.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: The user who initiated the blocking
          required: true
          type: string
          default: 'apple'
          format: ''
        - name: Usernames
          in: body
          description: 'Users to be blocked. Use '','' to separate the Usernames'
          required: true
          schema:
            $ref: '#/definitions/BodyUsernames'
      responses:
        '400':
          description: Blocked user cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{owner_username}/blocks/users/{blocked_username}':
    delete:
      tags:
        - Users
      summary: Remove Contacts from Blacklist
      description: Unblock one or multiple contacts by removing them from user's blacklist. **Max 60** contacts at a time. 
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
        - name: blocked_username
          in: path
          description: ''
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{owner_username}/contacts/users':
    get:
      tags:
        - Users
      summary: Get a List of Contacts.
      description: Get a user's contact list
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: The user who is requesting contact list
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User or the list of contact cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{owner_username}/contacts/users/{friend_username}':
    post:
      tags:
        - Users
      summary: Add a Contact for User
      description: Add a contact for user. The contact to be added must be under the same application as the user.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: user
          required: true
          type: string
          default: 'apple'
          format: ''
        - name: friend_username
          in: path
          description: contact to be added
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User or contact to be added cannot be found
        '500':
          description: "Various, see: [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)\t"
    delete:
      tags:
        - Users
      summary: Remove a Contact for User
      description: Remove a contact from the user's contact list.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: user
          required: true
          type: string
          default: 'apple'
          format: ''
        - name: friend_username
          in: path
          description: contact to be removed
          required: true
          type: string
          default: 'orange'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User or friend to be removed cannot be found
        '500':
          description: "Various, see: [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)\t"
  '/{org_name}/{app_name}/users/{owner_username}/offline_msg_count':
    get:
      tags:
        - Users
      summary: Get Offline Message Count
      description: Get the number of offline messages.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: owner_username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}':
    get:
      tags:
        - Users
      summary: Get a User
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various, see: HTTP Error Codes(https://docs.hyphenate.io/docs/error-codes)'
    put:
      tags:
        - Users
      summary: Update User's APNs Display Name
      description: Update user's APNs display name for iOS push notification.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
        - in: body
          name: body
          description: update APNs display name by key "nickname"
          required: true
          schema:
            $ref: '#/definitions/Nickname'
      responses:
        '400':
          description: User cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
    delete:
      tags:
        - Users
      summary: Delete a User
      description: '**Warning:** Delete a user will also delete the group and chat room if the specified user is the admin of the group and chat room. '
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: user to be deleted
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/activate':
    post:
      tags:
        - Users
      summary: Activate User Account
      description: 'Activate a deactivated user account.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '400':
          description: User cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/deactivate':
    post:
      tags:
        - Users
      summary: Deactivate User Account
      description: 'Deactivate a user account. User will not be able to login. '
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '400':
          description: User cannot be found
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/disconnect':
    get:
      tags:
        - Users
      summary: Logout User
      description: Force logout a user
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/joined_chatgroups':
    get:
      tags:
        - Users
      summary: Get a List of Groups User Currently Joined
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/joined_chatrooms':
    get:
      tags:
        - Users
      summary: Get a List of Chat Rooms User Currently Joined
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/offline_msg_status/{msg_id}':
    get:
      tags:
        - Users
      summary: Get Offline Message Status
      description: Get undelivered message status via message ID. Get message ID via the method get message history.
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: ' Authorization'
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
        - name: msg_id
          in: path
          description: Message ID
          required: true
          type: string
          default: ''
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User or message cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/password':
    put:
      tags:
        - Users
      summary: Reset User's Password
      description: 'To enhance security, we recommend update user''s Hyphenate IM user account password if the user''s app password on developer server is updated.'
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
        - in: body
          name: body
          description: Set a new password by using key "newpassword"
          required: true
          schema:
            $ref: '#/definitions/NewPassword'
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: 'Various of 5xx. see [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)'
  '/{org_name}/{app_name}/users/{username}/status':
    get:
      tags:
        - Users
      summary: Get User Online Status
      description: ''
      schemes:
        - https
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: org_name
          in: path
          description: Organization ID
          required: true
          type: string
          default: hyphenatedemo
          format: ''
        - name: app_name
          in: path
          description: Application name
          required: true
          type: string
          default: fruitworld
          format: ''
        - name: Authorization
          in: header
          description: 'Bearer ${token}'
          required: true
          type: string
          default: Bearer YWMtU6PbRnuvEeeUZoMs7HRlGwAAAV7zYlPb_hea5IgRIqHP_dO0Vd5Qe3J6aRE
          format: ''
        - name: username
          in: path
          description: ''
          required: true
          type: string
          default: 'apple'
          format: ''
      responses:
        '401':
          description: 'Unauthorized: missing token, token error, or token expired'
        '404':
          description: User cannot be found
        '500':
          description: "Various, see: [HTTP Error Codes](https://docs.hyphenate.io/docs/error-codes)\t"
definitions:  
  RegisterUsers:
    type: array
    items:
      $ref: '#/definitions/User'
  User:
    type: object
    properties:
      username:
        type: string
        example: apple
      password:
        type: string
        example: 123456
  NewPassword:
    type: object
    properties:
      newpassword:
        type: string
        example: 654321
  Nickname:
    type: object
    properties:
      nickname:
        type: string
        example: best apple
  BodyUsernames:
    type: object
    properties:
      usernames:
        $ref: '#/definitions/Usernames'
  Usernames:
    type: array
    items:
      $ref: '#/definitions/Username1'
  Username1:
    type: string
    example: apple
  Msg:
    type: object
    properties:
      target_type:
        type: string
        example: users
      target:
        $ref: '#/definitions/Usernames'
      msg:
        $ref: '#/definitions/MsgContent'
      from:
        type: string
        example: orange
      ext:
        $ref: '#/definitions/Extension'
  MsgContent:
    type: object
    properties:
      type:
        type: string
        enum:
          - txt
          - img
          - audio
          - video
          - cmd
        example: txt
      msg:
        type: string
        example: hello there!
  Extension:
    type: object
    properties:
      key1:
        type: string
        example: value1
      key2:
        type: string
        example: value2
  Group:
    type: object
    properties:
      groupname:
        type: string
        example: The Fruit Basket
      desc:
        type: string
        example: This group is for all beautiful fruits.
      public:
        type: boolean
      maxusers:
        type: integer
        example: 200
      approval:
        type: boolean
      owner:
        type: string
        example: orange
      members:
        $ref: '#/definitions/Usernames'
  ModifyGroup:
    type: object
    properties:
      groupname:
        type: string
        example: Best+Berries
      description:
        type: string
        example: This+is+for+Berries+Only
      maxusers:
        type: integer
        example: 200
      newowner:
        $ref: '#/definitions/Username1'
  Chatroom:
    type: object
    properties:
      name:
        type: string
        example: Music Fruits
      description:
        type: string
        example: Fruits talk about music.
      maxusers:
        type: integer
        example: 2000
      owner:
        type: string
        example: peach
      members:
        $ref: '#/definitions/Usernames'
  ModifyChatroom:
    type: object
    properties:
      name:
        type: string
        example: Best Fruits
      description:
        type: string
        example: We're the best fruits!
      maxusers:
        type: integer
        example: 500
  Token:
    type: object
    properties:
      grant_type:
        type: string
        example: client_credentials
      client_id:
        type: string
        example: YXA6EzdrgDzREeeP2tWiQHfV1w
      client_secret:
        type: string
        example: YXA6sTlYHHoyCGioX-Mnx9MXiCXnrCg